/*table of content

1-left section 
2- right section ( animation)
3-
*/




/*left section hero*/

section.hero{
    margin-top: 3rem;
}

section.hero parent-avatar.flex
{
align-items: end;
gap: 0.6rem;
min-height: 88px;
}

section.hero .left-section
{
    flex-grow: 1;
}


section.hero .avatar
{
    width: 200px;
    border-radius: 50%;
    border: 1px solid darkorange;
   

    margin-right:16px ;
}

section.hero h1.title
{
    font-size: 2.12rem;
    line-height: 3.3rem;
    margin: 24px 0;
    color: var(--title);
}
section.hero p.sub-title{
    color: var(--subtitle);
    font-size: 0.9rem;
    line-height: 1.65rem;
    margin-bottom: 32px;

}

section.hero .all-icons
{
    font-size: 1.3rem;
    gap: 1.5rem;
   color: var(--subtitle);
    
}
section.hero .all-icons .icon:hover
{
    font-size: 1.4rem;
    transition: 0.3s;
    cursor: pointer;
  color: var(--icon-hover);
  
}

/*right section animation*/


section.hero .animation 
{
    width: 100%;
    transition: 100px 55px;
}



/*Media query*/


@media (max-width : 1250px)
{
 section.hero .animation {display: none;}

}


@media (max-width : 992px)
{
    section.hero h1.title
    {
        font-size: 1.1rem;
    }


}